<div class="container" style="text-decoration: underline;">
  <div class="row">
    <h2>{{ subjectTitle | capitalise}}</h2>
  </div>
  <div class="row">
    <div class="col-xs-4">
      <ul>
        <li *ngFor="let exercise of exercises">
          <div (click)="onSelectExercise(exercise)" class="btn btn-large btn-warning">{{exercise | capitalise}}</div>
        </li>
      </ul>
    </div>
    <div class="col-xs-8">
      <div *ngIf="selectedExercise == 'gap-fill'">
        <gap-fill-display [course]="subject"></gap-fill-display>
      </div>
    </div>
  </div>
</div>
