<div class="row">
    <button type="button" [disabled]="!canUploadData" class="btn btn-success col-xs-3 col-xs-offset-3" style="margin-right:2em" (click)="uploadNewGapFill()">Save</button>
    <button type="button" class="btn btn-danger col-xs-3" (click)="clearInputs()">Cancel</button>
  </div>
  <div class="row">
    <div *ngIf="successNotification" class="col-xs-12 alert alert-success text-center margin-top-spacing">Gap fill exercise uploaded!</div>
    <div *ngIf="failureNotification" class="col-xs-12 alert alert-danger text-center margin-top-spacing">Error uploading gap fill exercise, please try again or contact support if this error persists</div>
  </div>
  <div class="row margin-top-spacing">
    <div class="col-xs-12">
      <div class="form-group">
        <label for="category">Category:</label>
        <input type="text" id="gapFillCategory" #gapFillCategory name="gapFillCategory" class="form-control" [(ngModel)]="model.category" required
        placeholder="Please enter a category for this e.g. Ovid" (keyup)="checkFormValidity()">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="form-group">
      <div class="col-xs-2">
        <label for="startLine">Start Line:</label>
        <input type="number" id="startLine" #startLine name="startLine" class="form-control"
        (change)="checkFormValidity()"
        [(ngModel)]="model.startLine"
        [ngClass]="{'warning': model.endLine < model.startLine}" required>
      </div>
      <div class="col-xs-2">
        <label for="endLine">End Line:</label>
        <input type="number" id="endLine" #endLine name="endLine" class="form-control"
        (change)="checkFormValidity()"
        [(ngModel)]="model.endLine"
        [ngClass]="{'warning': model.endLine < model.startLine}" required>
      </div>
    </div>
  </div>

  <div class="row" *ngIf="model.endLine < model.startLine">
    <div class="col-xs-12">
      <div class="alert alert-danger text-center margin-top-spacing" text-center>The end line must be greater than the start line</div>
    </div>
  </div>

  <div [ngClass]="{'hidden': textsSaved}" class="row margin-top-spacing">
    <div class="col-xs-5">
      <div class="form-group">
        <label for="latin">Latin:</label>
        <textarea rows="20" type="text" id="latin" #latinTextArea name="latin" class="form-control" [(ngModel)]="model.latinText" required placeholder="Please enter the latin text"></textarea>
      </div>
    </div>
    <div class="col-xs-5 col-xs-offset-1">
      <div class="form-group">
        <label for="english">English:</label>
        <textarea rows="20" type="text" id="english" #englishTextArea name="english" class="form-control" [(ngModel)]="model.englishText" required placeholder="Please enter the english translation"></textarea>
      </div>
    </div>
  </div>

  <!-- displaying text entered from above to allow highlighting of individual words -->
  <div [ngClass]="{'hidden': !textsSaved}" class="row margin-top-spacing">
    <div class="col-xs-5">
      <div class="form-group">
        <label for="latin">Latin:</label>
        <textarea rows="20" type="text" name="latinText" class="form-control" disabled>{{model.latinText}}</textarea>
        <!-- <div name="latinText" class="form-control">{{ model.latinText }}</div> -->
      </div>
    </div>
    <div class="col-xs-5 col-xs-offset-1">
      <div class="form-group">
        <label for="english">English:</label>
        <div class="form-control text-output">
          <ng-container *ngFor="let word of parsedEnglishText; let i = index;">
            <span class="hoverable hoverable-add" (click)="onSelectTranslatableWord($event)">{{word}}</span><span *ngIf="i != parsedEnglishText.length - 1">&nbsp;</span>
          </ng-container>
        </div>
      </div>
      <h6 class="bg-info" style="padding: 1em;">Please click on the words that can be gaps for this exercise</h6>
    </div>
  </div>

  <button type="button" name="button" class="btn btn-success" (click)="onSaveTexts(englishTextArea.value)" [disabled]="textsSaved || !latinTextArea.classList.contains('ng-valid') || !englishTextArea.classList.contains('ng-valid')">Save Texts</button>
  <button type="button" name="button" class="btn btn-warning" (click)="onEditTexts()" [disabled]="!textsSaved">Edit Texts</button>

  <h4 *ngIf="!textsSaved" class="bg-info margin-top-spacing" style="padding: 1em;">Please save the texts to continue...</h4>
  <div class="row margin-top-spacing" [ngClass]="{'translucent': !textsSaved}">
    <div class="col-xs-12">
      <div class="form-group">
        <label for="translatableWords">Translatable Words</label><br/>
        <small>Click the words below to remove them</small>
        <div class="form-control" [ngClass]="{'disabled': !textsSaved}">
          <ng-container *ngFor="let word of model.translatableWords; let j = index;">
            <span class="hoverable hoverable-delete" (click)="onRemoveTranslatableWord($event)">{{word}}</span><span *ngIf="j != model.translatableWords.length - 1">&nbsp;</span>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h4>ValidityChecker</h4>
      <h4>
        {{validityChecker}}
      </h4>
    </div>
  </div>
