.side-nav {
  float: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  height: 100%;
  max-width: 20%;
  padding: 0;
  margin-top: -20px;

  background-color: #f8f8f8;

}


.side-nav ul li a, .side-nav ol li a {
  text-decoration: none;
  color: black;
}

.side-nav ul > li > div {
  cursor: pointer;
}

.side-nav ul > li > div:hover {
  color: #03a9f4;
}

.side-nav ul > li {
  padding: 20px;

}

.side-nav ul > li > ul {
  padding-left: 20px;
}

.side-nav ul > li > ul > li {
  padding-top: 10px;
  padding-bottom: 10px;
}

.main-content {
  position: absolute;
  left: 15%;
  top: 66px;

  width: 85%;
}

.side-nav ul li .active-link, .side-nav ol li .active-link {
  color: #03a9f4;
  font-weight: bold;
}
