<div class="side-nav primary-color-bg">
  <ul>
      <h4 class="text-white text-shadow-dark">Subjects</h4>
    <li class="text-white">
      <a class="text-white text-shadow-dark" [routerLink]="['/subjects', 'iliad']">
        Iliad
      </a>
    </li>
    <li class="text-white text-shadow-dark">
      <a class="text-white text-shadow-dark" [routerLink]="['/subjects', 'germanicus-and-piso']">
        Germanicus &amp; Piso
      </a>
    </li>
    <li class="text-white text-shadow-dark">
      <a class="text-white text-shadow-dark" [routerLink]="['/subjects', 'day-at-the-races']">
        Day At The Races
      </a>
    </li>
    <li class="text-white text-shadow-dark">
      <a class="text-white text-shadow-dark" [routerLink]="['/subjects', 'propertius-tibullus-and-ovid']">
        Propertius, Tibullus &amp; Ovid
      </a>
    </li>
  </ul>
</div>
<div class="main-content white-bg">
  <router-outlet></router-outlet>
</div>
