.side-nav {
  float: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  height: 100%;
  max-width: 20%;
  padding: 40px 40px 40px 0px;
  margin-top: -20px;

}

.side-nav ul li a, .side-nav ol li a {
  text-decoration: none;
}

.side-nav ol > li > div {
  cursor: pointer;
}

.side-nav ol > li > div:hover {
  color: #03a9f4;
}

.side-nav ol > li {
  padding-top: 20px;
  padding-bottom: 20px;

  list-style: upper-roman;

}

.text-shadow-dark {
  text-shadow: -2px 2px #002984;
}

.main-content {
  position: absolute;
  left: 15%;
  top: 66px;

  width: 85%;
}
