<div class="container">
  <div class="row">
    <div *ngIf="successNotification" class="col-xs-12 alert alert-success text-center margin-top-spacing">Answers submitted!</div>
    <div *ngIf="failureNotification" class="col-xs-12 alert alert-danger text-center margin-top-spacing">Error submitting answers, please try again</div>
  </div>
  <div class="row" *ngFor="let gapFillQuestion of gapFillQuestions; let i = index">
    <div class="col-xs-12">
      <gap-fill [gapFillQuestion]="gapFillQuestion" *ngIf="selectedQuestion == i" (onAnswered)="onAnsweredQuestion($event)" (onRetryQuestion)="onRetryQuestion($event)"></gap-fill>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h3 class="high-score" *ngIf="highestScore">
        Your highest score for this section: {{ this.highestScore }}%
      </h3>
    </div>
  </div>
  <div class="row">
    <div *ngIf="showNextButton" class="col-xs-12">
      <button class="btn btn-info" (click)="onShowNextGapFill()">Next</button>
    </div>
    <div *ngIf="showFinishButton" class="col-xs-12">
      <button class="btn btn-info" (click)="onFinished()">Finish</button>
    </div>
  </div>
</div>
