<div class="row">
  <button
  class="btn btn-primary col-xs-5  col-xs-offset-1 spacing"
  (click)="onSelectOption('new', $event)"
  >Add new question</button>
  <button
  class="btn btn-warning col-xs-5"
  (click)="onSelectOption('edit', $event)"
  >Edit existing questions</button>
</div>

<div
  [ngSwitch]="selectedOption"
  class="row"
  style="margin-top: 3em">
  <div *ngSwitchCase="'new'">
    <h3 style="text-decoration: underline">Add New Question</h3>
    <div class="row">
      <div class="col-xs-12">
        <add-question-form></add-question-form>
      </div>
    </div>

  </div>
  <div *ngSwitchCase="'edit'">
    <h3 style="text-decoration: underline">Edit Existing Question</h3>
    <div class="row" style="margin-top: 2em">
      <div class="col-xs-12">
        <edit-question-form></edit-question-form>
      </div>
    </div>
  </div>
</div>
