<div class="container">
  <div class="row flex flex-align-center flex-justify-space-between">
    <a class="btn btn-primary col-xs-4" routerLink="./add-quiz-question">
      Add new quiz question
    </a>
    <a class="btn btn-primary col-xs-4" routerLink="./add-gap-fill">
      Add gap fill
    </a>

  </div>
  <div class="row margin-top-spacing flex flex-align-center flex-justify-space-between">
    <a class="btn btn-warning col-xs-4" routerLink="./edit-quiz-question">
      Edit existing quiz questions
    </a>
    <a class="btn btn-warning col-xs-4" routerLink="./edit-gap-fill">
      Edit gap fill
    </a>
  </div>
  <div class="row margin-top-spacing" style="padding-bottom: 5em;">
    <hr>
    <router-outlet></router-outlet>
  </div>
</div>
