<div class="container">
  <div class="row heading">
    <h2>Germanicus & Piso</h2>
  </div>
  <div class="row">
    <h3>Gap Fill Exercises</h3>
    <!-- <ul class="margin-top-spacing">
      <li *ngFor="let gapFill of gapFills; let i = index">
        <a [routerLink]="['/gapFill', gapFill.gapFillName]">
          <h4>{{ gapFill.gapFillName }}</h4>
        </a>
      </li>
    </ul>
    <div *ngIf="gapFills.length == 0">
      <ul>
        <li>No gap fill exercises yet!</li>
      </ul>
    </div> -->
  </div>
</div>
