<h3 class="category">{{ category }}</h3>
<h4 class="margin-top-spacing">Gap Fill Exercises</h4>


<div class="sections-container">
  <div *ngFor="let section of sections" class="section" (click)="onSelectSection($event, section)">
    {{ section }}
  </div>
</div>

<div class="buttons-container">
  <div class="radio">
    <label (click)="onRandomiseSelect()"><input type="checkbox" name="randomise" [checked]="randomiseGapFills" value="randomise">Randomise</label>
  </div>
    <button class="btn btn-success"
    type="button"
    (click)="onShowGapFills()"
    [disabled]="selectedSections.length == 0">Start</button>
</div>

<div *ngIf="gapFills.length == 0">
  <ul class="preview-wrapper">
    <li>No gap fill exercises yet!</li>
  </ul>
</div>
