<div class="sections-container">
  <div *ngIf="gapFills.length == 0">
    <h4><strong>No gap fill exercises yet!</strong></h4>
  </div>
  <div *ngFor="let section of sections" class="section" [ngClass]="getSectionColour(section)"
  (click)="onSelectSection($event, section)">
    {{ section }}
  </div>
</div>

<div class="buttons-container">
  <div class="radio">
    <label><input type="checkbox" name="randomise" (change)="onRandomiseSelect()" value="randomise">Randomise</label>
  </div>
    <button class="btn btn-success"
    type="button"
    (click)="onShowGapFills()"
    [disabled]="selectedSections.length == 0">Start</button>
</div>
