<h3 class="category">{{ category }}</h3>
<h4 class="margin-top-spacing">Gap Fill Exercises</h4>

<div class="buttons-container bg-info">
    <button class="btn btn-success"
    type="button"
    (click)="onShowGapFills()"
    [disabled]="!(selectedGapFills.length > 0)">Start</button>
    <div class="radio">
      <label (click)="randomiseGapFills = false"><input type="radio" name="randomise" [checked]="!randomiseGapFills" value="inOrder">In Order</label>
    </div>
    <div class="radio">
      <label (click)="randomiseGapFills = true"><input type="radio" name="randomise" [checked]="randomiseGapFills" value="randomise">Randomise</label>
    </div>
</div>

<ul class="margin-top-spacing preview-wrapper">
  <li *ngFor="let gapFill of gapFills; let i = index">
    <div class="preview" (click)="onSelectExercise(i)">
      <textarea rows="8" cols="20" disabled class="form-control">{{gapFill.latinText}}</textarea>
      <h4>{{ gapFill.exercise }}</h4>
    </div>
  </li>
</ul>


<div *ngIf="gapFills.length == 0">
  <ul class="preview-wrapper">
    <li>No gap fill exercises yet!</li>
  </ul>
</div>
