<div class="container">
  <div class="row text-center">
    <h2>{{ gapFillQuestion.course | capitalise }}: Section {{ gapFillQuestion.exercise }}</h2>
  </div>
  <div class="row">
    <div class="col-xs-12 text-left">
      <div class="btn btn-warning" (click)="onBack()">Back To Selection</div>
    </div>
    <div class="col-xs-12">
      <div class="col-xs-5">
        <h3>Latin</h3>
        <blockquote>
          {{ gapFillQuestion.latinText }}
        </blockquote>
      </div>
      <div class="col-xs-6 col-xs-offset-1">
        <h3>Translation</h3>
        <blockquote class="translation-container">
          <form #translationForm="ngForm">
            <span class="translation" *ngFor="let entry of gapTranslation; let i = index;">
              <span *ngIf="entry.split('=').length == 1">{{entry}}</span>
              <div *ngIf="entry.split('=').length == 2" class="translation-input-container">
                <input type="text" [name]="'answer_'+i" class="form-control-sm translationInput" ngModel [disabled]="reviewActive" [ngClass]="reviewClasses['answer_'+i]" (keypress)="onArrowPress($event)" [size]="entry[1]">
                <span *ngIf="reviewActive" class="review-correct">{{ translationArray[i] }}</span>
              </div>
            </span>
          </form>
        </blockquote>
      </div>
    </div>
  </div>
  <div class="row" style="padding-bottom: 2em;">
    <div class="col-xs-8 text-left">
      <button class="btn btn-success" *ngIf="!reviewActive" [disabled]="!translationForm.touched" (click)="onSubmitAnswers(translationForm)">Submit</button>
      <button class="btn btn-danger" *ngIf="!reviewActive" (click)="onClear(translationForm)">Clear</button>

      <button class="btn btn-warning" *ngIf="reviewActive" (click)="onRetry()">Retry</button>
      <button class="btn btn-info" *ngIf="reviewActive && showNextButton" (click)="onClickNext()">Next</button>
      <button class="btn btn-info" *ngIf="reviewActive && showFinishButton" (click)="onClickFinish()">Finish</button>
    </div>
    <div *ngIf="score" class="col-xs-4 text-right" style="font-size: 2em;">
      {{score}}
    </div>
  </div>
</div>
