<div class="container">
  <div class="row text-center">
    <h2>{{gapFillQuestion.course | capitalise}}: <u>{{gapFillQuestion.exercise}}</u></h2>
  </div>
  <div class="row">
    <div class="col-xs-12 text-left">
      <div class="btn btn-warning" (click)="onBack()">Back To Selection</div>
    </div>
    <div class="col-xs-12">
      <div class="col-xs-5">
        <h3>Latin</h3>
        <blockquote>
          {{ gapFillQuestion.latinText }}
        </blockquote>
      </div>
      <div class="col-xs-6 col-xs-offset-1">
        <h3>Translation</h3>
        <blockquote class="translation-container">
          <form #translationForm="ngForm">
            <span class="translation" *ngFor="let entry of gapTranslation; let i = index;">
              <span *ngIf="entry.split('=').length == 1">{{entry}}</span>
              <span *ngIf="entry.split('=').length == 2">
                <input type="text" [name]="'answer_'+i" class="form-control-sm translationInput" [attr.maxlength]="entry.length" ngModel>
              </span>
            </span>
          </form>
        </blockquote>
      </div>
    </div>
  </div>
  <div class="row" style="padding-bottom: 2em;">
    <div class="col-xs-12 text-left">
      <div class="btn btn-success" (click)="onSubmitAnswers(translationForm)">Submit</div>
      <div class="btn btn-danger" (click)="onClear()">Clear</div>
    </div>
  </div>
</div>
