<div class="row">
  <div class="col-xs-5">
    <h3>Latin</h3>
    <div>
      {{ latinText }}
    </div>
  </div>
  <div class="col-xs-5 col-xs-offset-1">
    <h3>Translation</h3>
    <blockquote class="translation-container">
      <span class="translation" *ngFor="let entry of gapTranslation">
        <span *ngIf="entry.split('=').length == 1">{{entry}}</span>
        <span *ngIf="entry.split('=').length == 2">
          <!-- attribute binding has that weird for loop closure thing  -->
          <input type="text" class="form-control-sm translationInput" value="" [attr.maxlength]="entry.length">
        </span>
      </span>
    </blockquote>
  </div>
</div>
