.quiz-name {
    padding: 0;
}

.quiz-question-container {
  padding-left: 1.5em;
  list-style: none;
}

.question-bg {
  background-color: rgb(196, 213, 233);
}

.quiz-question {

    padding: 2em 0;
    -webkit-transition: all 1500ms ease-in-out;
    -o-transition: all 1500ms ease-in-out;
    transition: all 1500ms ease-in-out;
}


.quiz-answers-container {
  display: flex;
  /*flex: 1 1 auto;*/
  justify-content: center;
  align-items: flex-start;
  align-content: space-between;
  flex-direction: column;
}

.quiz-answer {
    /*padding: 1em 2em;*/
    flex: 1 1 auto;
    cursor: pointer;
    padding: 0.5em 2em;
}

.quiz-answer:hover {
    text-decoration: underline;
}

.question-explanation {

}

.answer-correct {
  background-color: rgba(0,255,0,0.4);
}

.answer-wrong {
  background-color: rgba(255,0,0,0.4);
}

.question-tracker {
  position: relative;
  float: right;

  padding: 1em;

  -webkit-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}

.question-tracker h4 {
  font-size: 1.5em;
}

.question-tracking {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.btn-spacing {
  display: block;
}

a {
  text-decoration: none;
  color: white;
}

/*General classes*/

.question-hide {
  display: none;
}

.transition-setting {
  -webkit-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}

.next-question {
  position: relative;
  right: 0;
  float: clear;

  margin-top: 2em;
}
