<h2 class="quiz-name">
 {{ quiz }}
</h2>

<div class="quiz-wrapper">
    <ol>
        <li class="quiz-question transition-setting" *ngFor="let question of questions; let i = index" [ngClass]="{'question-hide': i > currentQuestion}">
            <h4 class="quiz-question-title">{{ question.question }}</h4>
            <ul>
                <li class="quiz-answer transition-setting"
                *ngFor="let answer of (questions | answerFilter:i); let j = index"
                (click)="onAnswerQuestion(i, j)"
                [ngClass]="{
                  'answer-correct': (answeredQuestions[i].correct && answeredQuestions[i].answered && answeredQuestions[i].answerIndex == j),
                  'answer-wrong': (!answeredQuestions[i].correct && answeredQuestions[i].answered)
                }"
                >
                    {{ answer }}
                </li>
            </ul>

            <h5
           [ngClass]="{'question-hide': !answeredQuestions[i].answered}"
            class="quiz-explanation transition-setting">
            <strong>Explanation</strong>: {{ questions[i]['explanation'] }}
            </h5>
        </li>
    </ol>
</div>
