<h2 class="quiz-name">
 {{ quiz }}
</h2>

<div class="quiz-wrapper">
    <ol>
        <li class="quiz-question transition-setting" *ngFor="let question of quizData; let i = index" [ngClass]="{'question-hide': i > currentQuestion}">

            <h4 class="quiz-question-title">{{ question.question }}</h4>
            <ul>
                <li class="quiz-answer"
                *ngFor="let answer of (quizData | answerFilter:i); let j = index"
                (click)="onAnswerQuestion(i, j)"
                >
                    <div
                    class="quiz-answer transition-setting"
                    [ngClass]="answeredQuestions[i].answerClasses[j]"
                    >{{ answer }}</div>
                </li>
            </ul>

            <h5
            [ngClass]="{'question-hide': !(currentQuestion > i)}"
            class="quiz-explanation transition-setting">
              <strong>Explanation</strong>: {{ question['explanation'] }}
            </h5>
            <hr>
        </li>

    </ol>
    <div class="total-tracker">
      <h4>Total:</h4>
      <h4>{{correctAnswers}}/{{answeredQuestions.length}}</h4>
    </div>
</div>
